@charset "utf-8";
/* CSS Document */

.lead {font-family: 'Poppins', sans-serif;
}

.container {
	font-family: 'Poppins', sans-serif;
	text-alignment: center;
}

.display-4 {font-family: 'Lora';
font-size: 150px;
	color: #FFFFFF;
}

.display-41 {color: #FFCDB0;
	font-family: 'Lora';
font-size: 150px;	
}

.jumbotron {background-color: #FFEAC6;
}

.jumbotron2 {background-color: #FFCDB0;
}

.picture2 {margin-bottom: 50px;
	margin-top: 30px;
}

.picture5 {margin-top: 30px;
}

.picture7 {margin-top: 30px;
}

.picture9 {margin-top: 40px;
}

.text-dark {font-family: 'Poppins', sans-serif;
}

.navbar {font-family: 'Poppins', sans-serif;
}

.container2 {border-style: solid 30px;
border-color: #FFCDB0;
}

.p1 {background-color: #FFCDB0;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	margin: 30px;
	padding: 30px;
}

.p2 {font-family: 'Poppins', sans-serif;
color: #FFCDB0;
	border-style: solid;
	margin: 30px;
	padding: 30px;
}

.p3 {border-style: solid;
border-width: thin;
border-color: black;
	font-family: 'Poppins', sans-serif;
	
}

.h2 {font-family: 'Poppins', sans-serif;
}

.container3 {
	margin-top: 30px;
	padding: 30px;
}

.p {font-family: 'Lora';
}

