@charset "utf-8";
/* CSS Document */

.container {
	font-family: 'Poppins', sans-serif;
	text-alignment: center;
}

.display-4 {font-family: 'Lora';
font-size: 150px;
	color: #FFFFFF;
}

.jumbotron {background-color: #EADBFF;
}

.navbar {font-family: 'Poppins', sans-serif;
}

.p1 {
	font-family: 'Poppins', sans-serif;
	border-style: solid;
	border-color: #EADBFF;
	margin: 30px;
	padding: 30px;
	color: #535353;
}

.image1 {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 29px;
}
.xararoelofs {color: #D6B6B6}

.headerbox {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: center;
	margin-bottom: -45px;
	color: #A88C8D;
}

.headerboxsecond {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: center;
	margin-top: -24px;
	color: #A88C8D;
}

.newp {font-family: 'Poppins', sans-serif;}

.colleft {
	border-style: solid;
	border-color: #EADBFF;
	margin-top: 100px;
	margin-bottom: 250px;
	margin-left: -50px;
	margin-right: 10px;
}

.colright {
	border-style: solid;
	border-color: #EADBFF;
	margin-bottom: 480px;
	margin-top: 140px;
	margin-left: 70px;
	margin-right: -50px;
}

.col-5 {
	border-style: solid;
	border-color: #EADBFF;
	margin-left: 10px;
	margin-right: -25px;
	margin-bottom: 400px;
}
.footer {
	margin-top: 10px; 
	border: solid;
	border-color: #D7B6B6;
	font-family: 'Poppins', sans-serif;	
}

.image1 {
	margin-top: 10px;
	margin-left: 12px;
}
	
@media screen{
	.cvimg {
display: block;
		margin-left: 230px;
		margin-right: auto;
		width: 600px;
	}
}
